<!DOCTYPE html>
<html lang="en">
<head>
  <title>Encryption Key Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>Encryption Key Generator</h2>
  <form action="/" method="POST">
    <div class="mb-3 mt-3">
      <label for="passphrase">Email:</label>
      <input type="password" class="form-control" id="passphrase" placeholder="Enter Passphrase" name="passphrase">
      <input class="form-check-input" type="checkbox" onclick="showPassphrase()" />
      <label class="form-check-label" for="flexCheckDefault">Show Passphrase</label>

    </div>
    <div class="mb-3">
      <label for="salt">Salt:</label>
      <input type="password" class="form-control" id="salt" placeholder="Enter Salt" name="salt">
      <input class="form-check-input" type="checkbox" onclick="showSalt()" />
      <label class="form-check-label" for="flexCheckDefault">Show Salt</label>
    </div>
    <button type="submit" class="btn btn-primary">Generate Key</button>
  </form>
</div>

<script>
function showPassphrase() {
    var x = document.getElementById("passphrase");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

function showSalt() {
    var x = document.getElementById("salt");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

</body>
</html>